main{
    
}


div{
    margin:auto;
    width:85vw;
    img{
        width:85vw;
        display: block;
    }
    div{
        width : 75vw;
        padding:5vw;
        border:1px solid black;
        ul{
            border:1px solid black;
            
            //list-style-type: none;
            display : flex;
            
            justify-content : flex-end;
            li{
                border:1px solid black;
                padding:2vw;
                margin-left: 0%;
            }
        }
    }   
}

a img{
    width : 30px;
}

