@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,300;0,400;0,500;1,300;1,400;1,500&display=swap');

p, ul, li, div, h2, h3{
    padding:0em;
    margin:0em
}

body{
    background-color: rgb(221, 224, 224);
}

div{
    margin:auto;
    margin-bottom: 5vw;
    width:85vw;
    background-color: aliceblue;
    box-shadow: 1.5vw 1.5vw 2vw rgb(186, 187, 189);
    img{
        width:85vw;
        display: block;
    }
    div{
        width : 75vw;
        padding:5vw;
        font-family: Roboto, Arial, sans-serif;
        //display:flex;
        //flex-direction:column;
        //justify-content : space-between;
        
        //border:1px solid black;
        ul{
            //border:1px solid black;
            
            list-style-type: none;
            display : flex;
            flex-wrap:wrap;
            //justify-content : space-around;
            li{
                //border:1px solid black;
                background-color: rgb(48, 134, 233);
                color:white;
                font-weight: bolder;
                border-radius: 0.5em;
                padding:2vw;
                margin:1vw 5vw 1vw 0vw;

            }
        }
        h2, h3, p{
            margin:3vw 0vw;
        }
    }   
}

a img{
    width : 30px;
}

